header {
    border: solid 2px white;
}
header {
    border: solid 2px rgb(15, 15, 15)
}
header {
    border-bottom: solid 2px rgb(8, 8, 8);
}
body {
    color: blanchedalmond;
    background: rgb(129, 3, 3);
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(12, 1, 9);
    padding: 20px;
}
header {
    border-bottom: solid 2px rgb(7, 7, 7)
    padding 20px
    font: size 20px;
}
header {
    border-bottom: solid 2px rgb(7, 7, 7);
    padding: 20px;
    font-size: 32px;
    color: rgb(245, 238, 238);
}
img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(51, 3, 3);
}